.backgrounder {
  background-image: url(https://cutewallpaper.org/cdn-cgi/mirage/2af0adefb1b7ebf6af3b94bf8b86378693ec8b55d34af727ac0cbb58dfd044f5/1280/21/moving-space-background-gif/Backgrounds-For-Html-Gif-Wallpaper-Cave.gif);
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}